### General Folders ###
# Regolith
.regolith/
build/
scripts/
filters/
# Yarn
yarn.lock
# NPM
node_modules/
package-lock.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide