name: Build and deploy files

on:
  push:
    branches:
      - main
      - devel
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: 'main'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch || github.ref_name }}

      # Step 2-dev: Deploy files via SSH
      - name: Deploy files via SSH and Git Pull
        if: github.ref_name == 'devel'
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SERVER_ADDRESS }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            cd "/opt/bedrock_tweaks/files_dev" || exit
            git fetch --all
            git reset --hard origin/${{ github.event.inputs.branch || github.ref_name }}
            git pull origin ${{ github.event.inputs.branch || github.ref_name }} --force

      # Step 2-prod: Deploy files via SSH
      - name: Deploy files via SSH and Git Pull
        if: github.ref_name == 'main'
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SERVER_ADDRESS }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            cd "/opt/bedrock_tweaks/files" || exit
            git fetch --all
            git reset --hard origin/${{ github.event.inputs.branch || github.ref_name }}
            git pull origin ${{ github.event.inputs.branch || github.ref_name }} --force

      - name: Output job status
        id: job-status
        if: ${{ always() }}
        run: |
          echo "status=${{ job.status }}" >> $GITHUB_OUTPUT
